body {
    font-family: Tahoma, sans-serif;
    margin: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между блоками */
}

h1 {
    color: chocolate;
}

form {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-reject {
    padding: 5px 10px;
    background-color: indianred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-submit {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.message{
    animation: fadeIn 1s;
}

/* ALL CARS */

.card-container {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос карточек на следующий ряд */
    gap: 20px; /* Расстояние между карточками */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px; /* Отступ вокруг контейнера */
}
.card {
    display: flex;
    width: 280px;
    height: 230px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    flex-direction: column;
}
.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.card-image {
    display: flex;
    flex-grow: 1; /* Занимать доступное пространство между хедером и кнопкой */
    justify-content: center;
    align-items: center;
}
.card-image img {
    max-width: 100%;
    max-height: 120px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-action {
    width: auto;
    padding: 10px;
    background-color: #c1cdd6;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}
.card-content {
    padding: 10px;
    text-align: center;
    flex-grow: 1; /* Занимать доступное пространство внутри карточки */
}
/*NAVIGATION BAR*/

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Внутренний отступ */
}

.nav-bar a {
    text-decoration: none; /* Убираем стандартное подчеркивание ссылок */
    color: #fff; /* Цвет текста ссылок */
    margin: 0 10px; /* Горизонтальный отступ между ссылками */
}

.nav-bar a:hover {
    text-decoration: underline; /* Подчеркивание ссылки при наведении */
}

/*SEARCH FILTER*/

.search-filter-input-container {
    display: flex;
    flex-direction: column; /* Располагает инпуты вертикально */
}

.search-filter-input-container input {
    margin-bottom: 10px; /* Добавляет вертикальный отступ между инпутами */
}

.search-filter-input-container {
    width: 100%; /* Занимает всю доступную ширину слева */
    margin-right: 20px; /* Добавляет отступ между блоками */
}

.select-container {
    width: 100%; /* Занимает всю доступную ширину слева */
    margin-bottom: 10px; /* Добавляет отступ между блоками */
}

/* Стили для самого выпадающего списка */
.select-container select {
    width: 100%; /* Занимает всю доступную ширину */
    padding: 10px; /* Подберите подходящую высоту */
    border: 1px solid #ccc; /* Граница для элемента */
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для опций в выпадающем списке */
.select-container select option {
    padding: 10px; /* Подберите подходящую высоту */
    background-color: #fff; /* Цвет фона опций */
    color: #333; /* Цвет текста опций */
}

/* Добавление отступа между опциями (по желанию) */
.select-container select option + option {
    margin-top: 5px;
}

/* RENTED USER CARS */

.rented-car-list {
    display: flex;
    overflow-x: auto; /* Горизонтальная прокрутка, если объектов слишком много */
}

.car-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px; /* Расстояние между объектами */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    flex: 0 0 auto; /* Запрет увеличения размера объектов */
}

.car-brand {
    font-weight: bold;
    margin-bottom: 10px;
}

.rented-car-image {
    max-width: 100px;
    max-height: 100px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}