body {
    font-family: Tahoma, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*NAVIGATION BAR*/

.nav-bar {
    background-color: #333; /* Dark background for the nav-bar */
    overflow: hidden;
    color: white;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-bar ul li {
    padding: 10px 20px;
}

.nav-bar ul li:not(:first-child) {
    border-left: 1px solid #555; /* Separator for the links */
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-bar ul li a:hover, .nav-bar ul li a:focus {
    background-color: #555; /* Hover state with a lighter dark */
}

.nav-bar ul li strong {
    background-color: #4CAF50; /* Green background for admin panel text */
    padding: 10px 20px;
}

.nav-bar form {
    margin: 0;
}

.nav-bar input[type="submit"] {
    border: none;
    background-color: rgba(199, 17, 44, 0.07); /* Green background for the sign out button */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase; /* Optional: style preference */
}

/* Стили для таблички истории аренды */
.car-table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 80%;
}

.car-table table {
    width: 100%;
    border-collapse: collapse;
}

.car-table th, .car-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.car-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Дополнительные стили для небольшой компактной таблички */
.compact-table {
    font-size: 14px;
}

footer.container {
    text-align: center;
    margin-top: 30px;
}

footer.container a {
    text-decoration: none;
    color: #5c5c5c;
    margin: 0 10px;
}

footer.container a:hover {
    text-decoration: underline;
}

/*INPUTS*/

.input-reject {
    padding: 5px 10px;
    background-color: indianred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-submit {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}