<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{registration-page-style2.css}">
</head>
<body>
<div class="container">
    <div class="registration-form">
        <h2>Add new car form</h2>
        <form th:action="@{/admin/add-new-car}" th:method="POST" th:object="${vehicle}">
            <div>
                <label>Car brand:</label>
                <input type="text" th:field="*{carBrand}">
                <div style="color: red" th:if="${#fields.hasErrors('carBrand')}">Car brand error</div>
            </div>
            <div>
                <label>Year of car:</label>
                <input type="text" th:field="*{carYear}">
                <div style="color: red" th:if="${#fields.hasErrors('carYear')}">Car year error</div>
            </div>
            <div>
                <label>Price of rent:</label>
                <input type="text" th:field="*{priceRent}">
                <div style="color: red" th:if="${#fields.hasErrors('priceRent')}">Price of error</div>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
</body>
</html>