<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Panel Admina - Carsharing</title>
</head>
<body>
<nav class="container-fluid">
  <ul>
    <li><strong>Panel Admina Carsharing</strong></li>
  </ul>
  <ul>
    <li><a href="#manage-cars">Zarządzaj Samochodami</a></li>
    <li><a href="#add-car">Dodaj Nowy Samochód</a></li>
    <li><form th:action="@{/logout}" th:method="POST"><input type="submit" role="button" value="Wyloguj"/></form></li>
  </ul>
</nav>

<main class="container">
  <div class="grid">
    <section id="manage-cars">
      <hgroup>
        <h2>Zarządzaj Samochodami</h2>
        <h3>Przeglądaj i zarządzaj wynajętymi samochodami</h3>
      </hgroup>
      <p>Tutaj znajdziesz listę wszystkich wynajętych samochodów wraz z informacjami o użytkownikach.</p>
      <div class="rented-car-list">
        <div th:each="r_car: ${renting_vehicles}" class="car-item">
          <div class="car-header">
            <img th:src="${r_car.getVehicle().getImageUrl()}" alt="Car Image" class="rented-car-image"/>
            <p th:text="${r_car.getHash()}" class="car-brand"></p>
            <p th:text="${r_car.getUser().username}" class="user"></p>
            <p th:text="${r_car.getVehicle().carBrand}" class="user"></p>
            <p th:text="${r_car.getVehicle().priceRent}" class="user"></p>
            <form th:method="DELETE" th:action="@{main/delete/{id}(id=${everycars.getId()})}">
              <input value="Complete the lease" type="submit" class="input-reject" />
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="add-car">
      <hgroup>
        <h2>Dodaj Nowy Samochód</h2>
        <h3>Formularz dodawania nowego pojazdu</h3>
      </hgroup>
      <form class="grid">
        <input type="text" id="car-model" name="car-model" placeholder="Model Samochodu" aria-label="Model Samochodu" required>
        <input type="text" id="car-registration" name="car-registration" placeholder="Rejestracja" aria-label="Rejestracja" required>
        <button type="submit" onclick="event.preventDefault()">Dodaj Samochód</button>
      </form>
    </section>
  </div>
</main>

<footer class="container">
  <small>
    <a href="#">Polityka Prywatności</a> • <a href="#">Warunki Użytkowania</a>
  </small>
</footer>
</body>
</html>