<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <base href="/">
  <link rel="stylesheet" th:href="@{login.css}" />
</head>
<body>
<div class="container">
  <div class="login-form">
    <h2>Login</h2>
    <div th:if="${param.error}" class="error-message">Invalid username and password.</div>
    <div th:if="${param.logout}" class="logout-message">You have been logged out.</div>
    <form th:action="@{/login}" th:method="POST">
      <div><label>Username: <input type="text" name="username" /></label></div>
      <div><label>Password: <input type="password" name="password" /></label></div>
      <div><input type="submit" value="Sign In" /></div>
    </form>
    <form th:action="@{/register}" th:method="GET">
      <div><input type="submit" class="register" value="Sign Up" /></div>
    </form>
  </div>
</div>
</body>
</html>