<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CarSharing</title>
    <link rel="stylesheet" th:href="@{main.css}"/>
</head>
<body>
<header>
    <nav class="nav-bar">
        <ul>
            <li><a th:href="@{/main}">Main page</a></li>
            <li><a th:href="@{/profile}">Your profile</a></li>
            <li><a th:href="@{/about}">About us</a></li>
            <li><a th:if="${user_data.getRole() == 'ADMIN'}" class="admin-link" th:href="@{/admin/main}">Admin page</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="user-nav">
        <h1>Hello, <span th:text="${user_data.getName()}"></span></h1>
        <div th:if="${error_message}" class="error-message" style="color: red;"><p th:text="${error_message}">Error message</p></div>
        <div th:if="${success_message}" class="success-message" style="color: green;"><p th:text="${success_message}">Success message</p></div>
        <h1>Your money: <span th:text="${user_data.getMoney()} + '$'"></span></h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="input-reject"/>
        </form>
    </section>
</main>
<div class="rented-car-list">
    <div th:each="u_car: ${user_cars}" class="car-item">
        <div class="car-header">
            <p th:text="${u_car.getVehicle().getCarBrand()}" class="car-brand"></p>
            <img th:src="@{/images/{id}(id=${u_car.getVehicle().getVehicleImage() != null ? u_car.getVehicle().getVehicleImage().getId() : 'default'})}" alt="Car Image" class="rented-car-image"/>
            <form th:method="DELETE" th:action="@{main/delete/{hash}(hash=${u_car.getHash()})}">
                <input value="Complete the lease" type="submit" class="input-reject" />
            </form>
        </div>
    </div>
</div>
<hr>
<h3 style="text-align: center">All cars for rent</h3>
<div class="main-content">
        <div class="search-filter">
            <form th:action="@{/main/filter}" th:method="POST" th:object="${search_filter_updated}">
                <p>Search filter</p>
                <div class="search-filter-input-container">
                    <input th:field="*{carBrand}" type="text" placeholder="brand"/>
                    <div th:if="${param.error}" class="error-message">Error</div>
                    <input th:field="*{minCarYear}" type="number" placeholder="year from"/>
                    <div th:if="${param.error}" class="error-message">Error</div>
                    <input th:field="*{maxCarYear}" type="number" placeholder="year to"/>
                    <input th:field="*{minPriceRent}" type="number" placeholder="min price"/>
                    <input th:field="*{maxPriceRent}" type="number" placeholder="max price"/>
                    <div class="select-container">
                        <select th:field="*{carBodyType}">
                            <option th:each="type : ${T(pl.hibernate.study.demo.model.enums.CarBodyTypes).values()}"
                                    th:value="${type}"
                                    th:text="${type.getCarBodyTypeValue()}"></option>
                        </select>
                    </div>
                    <input type="submit" value="submit" class="input-submit">
                </div>
            </form>
            <form th:action="@{/main/reset-filter}" th:method="POST">
                <input value="reset" type="submit" class="input-reject"/>
            </form>
        </div>
    <div class="card-container">
        <div class="card" th:each="vehicle : ${vehicles}">
            <div th:if="${errorBalanceMessage != null and errorBalanceMessage.containsKey(vehicle.getId())}" style="color: red;" class="message">
                <p th:text="${errorBalanceMessage[vehicle.getId()]}">Error message</p>
            </div>
            <div class="card-header" th:text="${vehicle.getCarBrand()}"></div>
            <div class="card-content" th:text="${vehicle.getPriceRent()} + '$ ' + ${vehicle.getCarYear()}"></div>
            <div class="card-image">
                <img th:src="@{/images/{id}(id=${vehicle.vehicleImage != null ? vehicle.vehicleImage.id : 'default'})}" alt="Car Image"/>
            </div>
            <div class="card-action">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <form th:method="POST" th:action="@{main/{vehicleId}(vehicleId=${vehicle.getId()})}">
                    <input value="Rent a vehicle" type="submit" class="input-submit">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>