<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/profile-styles.css}">
</head>
<body>
<header>
    <nav class="nav-bar">
        <ul>
            <li><a th:href="@{/main}">Main page</a></li>
            <li><a th:href="@{/profile}">Your profile</a></li>
            <li><a th:href="@{/about}">About us</a></li>
        </ul>
    </nav>
</header>
<div class="user-profile">
    <a th:text="'You: ' + ${user.getName()}">Name</a>
    <a th:text="'Balance: ' + ${user.getMoney()} + '$'">Balance</a>
</div>
<div class="rented-car-history-table">
    <table class="compact-table">
        <thead>
        <tr>
            <th>Car brand</th>
            <th>Car year</th>
            <th>Price rent</th>
            <th>Rent duration</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Costs</th>
        </tr>
        </thead>
        <tbody>
        <!-- Отображаем информацию об арендованных автомобилях и rentDuration -->
        <tr th:each="rentedcar : ${rentedCars}">
            <td th:text="${rentedcar.getRentedCar().getCarBrand()}">Brand</td>
            <td th:text="${rentedcar.getRentedCar().getCarYear()}">Year</td>
            <td th:text="${rentedcar.getRentedCar().getPriceRent()} + ' usd/hour'">Price</td>
            <td th:text="${rentedcar.getRentDuration()} + ' min'">Duration</td>
            <td th:text="${rentedcar.getRentStartAtToString()} + ''">Start date</td>
            <td th:text="${rentedcar.getRentEndToString()} + ''">End date</td>
            <td th:text="${rentedcar.getRentCost()} + '$'">Costs</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>