<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <link rel="stylesheet" th:href="@{registration-page-style.css}">
</head>
<body>
<div class="container">
  <div class="registration-form">
    <h2>Registration</h2>
    <form th:action="@{/register}" th:method="POST" th:object="${user}">
      <div>
        <label>Login:</label>
        <input type="text" th:field="*{username}">
        <ul style="color: red" th:if="${#fields.hasErrors('username')}" th:erorrs="*{username}">Username error</ul>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}">
        <span style="color: red" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
              class="error"></span>
      </div>
      <div>
        <label>Email:</label>
        <input type="text" th:field="*{email}">
        <ul style="color: red" th:if="${#fields.hasErrors('email')}" th:erorrs="*{email}">Email error</ul>
      </div>
      <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}">
        <ul style="color: red" th:if="${#fields.hasErrors('name')}" th:erorrs="*{name}">Name error</ul>
      </div>
      <div>
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
</div>
</body>
</html>